main {
    display: flex;
    flex-direction: row;
}

dialog {
    outline: none; 
    border: none; 
    background: bisque;
    border: 1px solid green;
}

#dates {
    position: absolute;
    top: 425px;
    left: 40px;
    display: flex;
    flex-direction: column;
}

#countdown {
    background-color: LemonChiffon;
    display: flex;
    justify-content: center;
}

#countdown section {
    padding:5px;
    margin: 5px;
    border: 3px solid bisque;
    font-size: x-large;
    align-content: baseline;
}

#countdown section > h3 {
    position: relative;
    top: 0px;
    margin: 0px 5px 10px;
}

#countdown section div {
    text-align: center;
}

#codemash2025{
    padding: 10px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#codemashDate {
    font-size: x-large;
    padding: 15px;
}